<html>
    <head>

    </head>
    <body>
        <br />
        <a href="/save?city=indore&age=22&gender=male">Click Here</a>
        <br />

        <h2>About Page</h2>
        <form action="/save?demo=hello" method="post">
            Name <input type="text" name="name"/>
            <br />
            <br />
            Age <input type="text" name="age"/>
            <br />
            <br />
            Password <input type="password" name="pass" />
            <br />
            <button>OK</button>
        </form>
    </body>
</html>