<html>
    <head>

    </head>
    <body>
        <a href="/student">Student Add</a>
        <a href="/list">Student List</a>
        <h1>Home Page</h1>
        <h2><%= name %></h2>
        <h2><%= city %></h2>
        <h2><%= user.gender %></h2>
    </body>
</html>