<html>
    <head>

    </head>
    <body>
        <h1>Student</h1>
        <a href="/list">List</a>
        <form action="/student" method="post">
            Full Name : <input type="text" name="name"/>
            <Br />
            <Br />
            Fee : <input type="text" name="fee"/>
            <br />
            <br />
            City : <select name="city">
                <option>Select</option>
                <option>Indore</option>
                <option>Mumbai</option>
                <option>Pune</option>
            </select>
            <br />
            <br />
            <input type="submit" value="Add" />
        </form>
    </body>
</html>